<!DOCTYPE html>

<html lang="en">
  <head th:insert="~{home/home::main-navbar}"></head>
  <style></style>
  <body>
    <th:block th:insert="~{home/home::header-wrapper}"></th:block>
    <div class="container-fluid page-body-wrapper">
      <th:block th:insert="~{layout/home::sidebar}" />
      <div class="main-panel" th:fragment="myContent">
        <div class="content-wrapper">
          <div>
            <a th:href="@{/student/registeredCourses}"
              ><img src="../../static/images/arrow-left.svg" />View Registered
              Courses</a
            >
          </div>

          <br />
          <div
            class="alert alert-success"
            role="alert"
            th:if="${not #strings.isEmpty(msg)}"
            th:text="${msg}"
          ></div>
          <div
            class="student-table"
            th:if="${not #lists.isEmpty(removedCourses)}"
          >
            <table class="table table-striped table-bordered">
              <thead class="text-center" style="background-color: #f98b88">
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Enrolled Date</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="course,ind:${removedCourses}">
                  <td th:text="${ind.count}"></td>
                  <td th:text="${course.course.name}"></td>
                  <td
                    th:text="${#dates.format(course.enrollDate,'dd-MMM-yyyy')}"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="~{layout/home::footer}"></div>
  </body>
</html>
