<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{home/home::main-navbar}"></head>

  <body>
    <!--Navbar-->
    <th:block th:insert="~{home/home::header-wrapper}"></th:block>

    <div class="container-fluid page-body-wrapper">
      <!-- Page content-->
      <th:block th:insert="~{layout/admin::admin-sidebar}" />
      <div class="main-panel" th:fragment="myContent">
        <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h2>Add New Admin</h2>
              <form
                th:action="@{/admin/newadmin}"
                th:object="${adminForm}"
                method="POST"
              >
                <label for="name">Admin Name:</label>
                <input
                  type="text"
                  id="name"
                  th:field="${adminForm.adminName}"
                  placeholder="Enter Name"
                  class="form-control mb-4 col-4"
                />
                <label for="Course Size">Password:</label>
                <input
                  type="password"
                  th:field="*{adminPwd}"
                  placeholder="Enter New Password"
                  class="form-control mb-4 col-4"
                />
                <br />
                <button type="submit" class="btn btn-info col-2">
                  Save Admin
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/adminLayout.js"></script>
  </body>
</html>
